extends templates/base

block head
    title space.js - A javascript hackable MMO game

block body
    form(method='post', action='login.html')
        label(for='id') Username/Email
        input(name='id', type='text')

        label(for='password') Password
        input(name='password', type='password')

        input(type='submit', value='Login')

    p A hackable MMO game based in space. Made by mgoszcz2
    a(href='register.html') Register
