extends templates/base

block head
    title space.js - Register

block body
    if error
        b Wrong username or password

    form(method='post', action='login.html')
        label(for='id') Username/Email 
        br
        input(name='id', type='text')
        br

        label(for='password') Password 
        br
        input(name='password', type='password')
        br

        input(type='submit', value='Login')
