* {
  padding: 0;
  margin: 0;
}

nav {
  background: #ecf0f1;
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
}

nav h1 {
  float: left;
  margin: 10px;
}

nav section {
  float: right;
  margin: 10px;
}

.clear {
  clear: both;
}

body {
  text-align: center;
}

body, 
a {
  color: #2c3e50;
}

footer{
  margin: 20px;
}
