extends templates/base

block head
  title space.js - Play

block body
  #wrap
    #code
    #logger.height_hidden
    button#ready Ready!
    #arena_wrap: #arena

block script
  script(src='/socket.io/socket.io.js')
  script(src='/js/vendor/ace/ace.js')
  script(src='/js/arena.js')
