extends templates/base

block head
    title space.js - Register

block body
    if error
        b Wrong username or password

    .centred: .grouper
      h2 Login
      form(method='post', action='login.html')
          label(for='id') Username/Email 
          input(name='id', type='text')

          label(for='password') Password 
          input(name='password', type='password')

          input(type='submit', value='Login').button.action
