extends templates/base

block head
    title space.js - Register

block body
    if error
        h4 Error occured

    .centred: .grouper
      h2 Register
      form(method='post', action='register.html')
        label(for='username') Name (Using A-z and _, 2-32 letters)
        input(name='username', type='text', value=username)

        label(for='email') Email (Valid)
        input(name='email', type='text', value=email)

        label(for='password') Password (Using A-z and _, minimum 6 letters)
        input(name='password', type='password', value=password)

        label(for='password2') Retype password
        input(name='password2', type='password', value=password2)

        input(type='submit', value='Register').button.action
