@import 'vars/common.styl'

.room-list
  width: 50%
  margin: 0
  list-style: none
  padding: 0
  background-color: light-accent-color

  li
    margin: resonable-margin
    list-style: none
    display: block

    *
      display: inline-block

    span
      width: 25%
      text-align: right

    a
      width: 75%
      text-align: left

