@import 'vars/common.styl'

.room-list
  width: 50%
  margin: 0
  list-style: none
  padding: 0
  background-color: light-accent-color

  li
    margin: resonable-margin
    list-style: none
    display: block

    *
      width: 50%
      display: inline-block

    span
      text-align: right

    a
      text-align: left

