*
  padding: 0
  margin: 0

nav h1
  float: left
  margin: 10px

.clear
  clear: both

body
  font-size: 18px
  background: #ffffff
  overflow: hidden

body, 
a
  color: #2c3e50

footer
  margin: 20px auto

article
  margin: 20px

#code
  border: 10px solid #ffffff
  box-sizing: border-box

#rooms
  text-align: center

#arena

html, body
  height: 100%

nav
  background: #45428F
  height: 80px
  box-shadow: inset 0 -10px 20px 0px rgba(0, 0, 0, 0.3)
  color: #ffffff
  position: relative
  z-index: 9
  overflow: hidden

nav section
  float: right

nav a
  float: left

nav a, nav span
  color: #ffffff
  margin: 0 10px
  line-height: 80px

nav a:hover
  text-shadow: 0 0 20px rgba(255,255,255,1)

#code, #logger
  width: 50%
  height: 100%
  font-size: 16px
  position: absolute
  top: 0
  left: 0

#wrap
  height: calc(100% - 80px)
  width: 100%
  position: relative

#logger
  background-color: #ffffff
  overflow-x: hidden
  overflow-y: scroll

#ready
  position: absolute
  bottom: 10px
  right: calc(50% + 10px)
  z-index: 99

#arena
  width: 300px
  height: 300px
  margin: auto
  top: 0
  bottom: 0
  left: 0
  right: 0
  border: 4px solid rgba(255, 255, 255, 0.8)
  position: absolute
  border-radius: 5px

#arena div
  position: absolute

.ship
  background-image: url('/img/ship.png')
  width: 50px
  height: 50px //TODO: Make this config driven one day

.bullet
  background-image: url('/img/bullet.png')
  width: 5px
  height: 5px

#arena_wrap
  width: 50%
  height: 100%
  position: absolute
  top: 0
  right: 0
  overflow: auto
  background: #45428F url('/img/star_bg.png')

.log-info
  color: #3498db

.log-warn
  color: #f1c40f

.log-err
  color: #e74c3c

.log-ok
  color: #2ecc71

.height_hidden
  height: 0 !important

