branding-color = #45428F
back-color = #ffffff
light-accent-color = darken(back-color, 3%)
light-accent-border-color = darken(light-accent-color, 10%)
bright-text-color = #ffffff
dark-text-color = #2c3e50
action-color = #72B543

resonable-margin = 20px
resonable-radius = 4px
