doctype 5
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content='')
    meta(name='robots', content='all')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='/css/normalize.min.css')
    link(rel='stylesheet', href='/css/main.css')
    //TODO: Elimate this later - reminder of before I used stylus
    link(rel='stylesheet', href='/css/common.css')
    //link(href='http://fonts.googleapis.com/css?family=Ubuntu+Mono', rel='stylesheet', type='text/css')
    block head

  body
    nav
      a(href='/'): img(src='/img/logo.png')
      a(href='/spec.html') API
      a(href='/rooms.html') Rooms
      section
        if username
          a(href='/logout.html') Logout
          span= username
        else
          a(href='/login.html') Login
      div.clear

    block body

    footer.centred-wide-text Copyright @ Maciej Goszczycki (mgoszcz2)

    script(src='/js/vendor/html5shiv.js')
    script(src='/js/vendor/jquery-1.10.2.min.js')
    script(src='/js/main.js')

    block script
